extends ../layout

block content

 div(id="root")
    div(class="App")
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand pb-1 pt-1" href="#") 
          img(src="/assets/img/logo_uaq.png" height="70" width="55")                        
        h6(class="col-md-5" style="color:black") Catalogación de películas y videograbaciones

        div(class="collapse navbar-collapse" id="navbarNav")
          ul(class="navbar-nav ml-auto")        
            li(class="nav-item")
              a(class="nav-link active" href="/registro") Registro Videograbaciones
                span(class="sr-only") 
            li(class="nav-item")
              a(class="nav-link" href="/consulta") Consulta Videograbaciones
                span(class="sr-only") 
            li(class="nav-item")
              a(class="nav-link" href="#") Registro Bibliografico
                span(class="sr-only") 
            li(class="nav-item")
              a(class="nav-link" href="#") Consulta Bibliografica
                span(class="sr-only") 

  - var Obj = !{obj}
  div(class="container-fluid " style="height:100%;")
    br
    br
    div(class="row")
      div(class="col-md-12")
        div(class="col-md-12 pt-3 ")
          form(id="movieForm" class="input-group")
            div(class="row-labels-and-inputs")
              div(class="row")  
                div(class="col-md-3 mr-3")
                  img(src="#{obj.Poster}", alt="") 
                div(class="col-md-8 pr-3" style="padding: 2em 3em; background-color:rgba(51, 51, 51, .5);")  
                  br 
                  p(for="") Titulo: #{obj.Title}
                  p(for="") Año: #{obj.Year}
                  p(for="") Clasificación: #{obj.Rated}
                  p(for="") Año de lanzamiento: #{obj.Realeased}
                  p(for="") Duración: #{obj.Runtime}
                  p(for="") Género: #{obj.Genre}
                  p(for="") Director: #{obj.Director}
                  p(for="") Escritores: #{obj.Writer}
                  p(for="") Actores: #{obj.Actors}
                  p(for="") Sinopsis: #{obj.Plot}
                  p(for="") Lenguaje: #{obj.Language}
                  p(for="") País: #{obj.Country}      
                  div(class="offset-md-8 col-md-1")    
                    button(class="btn btn-primary") Crear nuevo elemento