extends ../layout

block content

 div(id="root")
    div(class="App")
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand pb-1 pt-1" href="#") 
          img(src="/assets/img/logo_uaq.png" height="70" width="55")                        
        h6(class="col-md-5" style="color:black") Catalogación de películas y videograbaciones

        div(class="collapse navbar-collapse" id="navbarNav")
          ul(class="navbar-nav ml-auto")        
            li(class="nav-item")
              a(class="nav-link active" href="/") Registro Videograbaciones
                span(class="sr-only") 
            li(class="nav-item")
              a(class="nav-link" href="/consulta") Consulta Videograbaciones
                span(class="sr-only") 
            li(class="nav-item")
              a(class="nav-link" href="#") Registro Bibliografico
                span(class="sr-only") 
            li(class="nav-item")
              a(class="nav-link" href="#") Consulta Bibliografica
                span(class="sr-only") 

  - var Obj = !{obj}
  div(class="container-fluid " style="height:100%;")
    br
    br
    div(class="row")
      div(class="col-md-12")
        div(class="col-md-12 pt-3 ")
          form(id="movieForm" class="input-group")
            div(class="row-labels-and-inputs")
              div(class="row")  
                div(class="col-md-3 mr-3")
                  img(src="#{obj.Poster}", alt="") 
                div(class="col-md-8 pr-3" style="padding: 2em 3em; background-color:rgba(51, 51, 51, .5);")  
                  br 
                  p(id="title") Titulo: #{obj.Title}
                  p(id="year") Año: #{obj.Year}
                  p(id="rated") Clasificación: #{obj.Rated}
                  p(id="released") Año de lanzamiento: #{obj.Realeased}
                  p(id="runtime") Duración: #{obj.Runtime}
                  p(id="genre") Género: #{obj.Genre}
                  p(id="director") Director: #{obj.Director}
                  p(id="writer") Escritores: #{obj.Writer}
                  p(id="actors") Actores: #{obj.Actors}
                  p(id="plot") Sinopsis: #{obj.Plot}
                  p(id="language") Lenguaje: #{obj.Language}
                  p(id="country") País: #{obj.Country}      
                  div(class="offset-md-8 col-md-1")    
                    button(class="btn btn-primary" id="crearRegistro" type="button") Crear nuevo registro
  script(src="/assets/scripts/crearFormulario.js")